/*! Globales y utilidades*/
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Kalam", cursive;
}
.iconos {
  max-width: 5rem;
  margin: 0 3rem;
}
/*!Header*/
.header {
  /* background-image: url(img/black-370118_1280.png); */
  /* background-size: 100%; */
  background-color: #141414;
  opacity: 0.9;
  background-repeat: no-repeat;
  top: 0;
  position: sticky;
  z-index: 10;
}
.navbar {
  min-height: 10rem;
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navbar__logo {
  color: #fff;
  font-family: "Caveat", cursive;
  font-size: 6rem;
}
.navbar__logo-span {
  color: #eec643;
  font-weight: 700;
}
.navbar__nav {
  display: flex;
  gap: 2rem;
}
.navbar__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navbar__link:hover {
  color: #eec643;
  transform: scale(1.1);
}
/*!Hero*/
.hero {
  padding-top: 10rem;
  margin-top: -15rem;
  min-height: calc(100vh - 10rem);
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 0,
      rgba(26, 34, 48, 0.596)
    ),
    url(img/technology-1283624_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgb(0, 0, 0) 0,
        rgba(26, 34, 48, 0.596)
      ),
      url(img/technology-1283624_1920.jpg);
  }
}
.hero__contenido {
  margin-top: 10rem;
  max-width: 120rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.hero__iconos {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.hero__imagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.hero__imagenes2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.html {
  animation-name: html-animacion;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes html-animacion {
  0% {
    transform: rotate(-20deg) translateX(5rem);
  }
  50% {
    transform: rotate(20deg) translateX(0rem);
  }
  100% {
    transform: rotate(-20deg) translateX(5rem);
  }
}
.css {
  animation-name: css-animacion;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes css-animacion {
  0% {
    transform: translateY(-5rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-5rem);
  }
}
.sass {
  animation-name: sass-animacion;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes sass-animacion {
  0% {
    transform: translateX(-2rem);
  }
  50% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(-2rem);
  }
}
.javascript {
  animation-name: javascript-animacion;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-delay: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes javascript-animacion {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.react {
  animation: react-animacion 4s linear infinite;
}
@keyframes react-animacion {
  0% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(-5rem) rotate(360deg);
  }
}
.node {
  animation-name: node-animacion;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-delay: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes node-animacion {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(-45px);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

.hero__texto {
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}
.hero__heading {
  font-weight: 700;
  font-size: 4.4rem;
}
.hero__descripcion {
  font-size: 3rem;
}
.hero__descripcion--nombre {
  color: #eec643;
}
@media (min-width: 768px) {
  .hero__contenido {
    flex-direction: row;
  }

  .hero__texto {
    width: 60%;
  }
}
/*!Sobre mi*/
.sobre-mi {
  background-image: url(img/black-370118_1280.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  min-height: 50rem;
}
.sobre-mi__contenido {
  color: #fff;
  margin: 0 auto;
  max-width: 120rem;
  width: 90%;
}
.sobre-mi__heading {
  color: #eec643;
  text-align: center;
  font-size: 4.4rem;
}
.sobre-mi__texto {
  text-align: center;
  font-size: 2rem;
}
