/*! Globales y utilidades*/
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "logo";
  src: url(/fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "principal";
  src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
  font-size: 1.6rem;
  font-family: "principal";
  background-color: #141414;
  overflow-x: hidden;
}
img {
  display: block;
  margin: 0;
  max-width: 100%;
}
.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

/*!Header*/
.header {
  background-color: #070707fb;
  background-repeat: no-repeat;
  top: 0;
  position: sticky;
  z-index: 10;
}
.navbar {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.navbar__ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - 79px);
  width: 100vw;
  margin: 0;
  background-color: #070707fb;
  transform: translateY(120%);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .navbar__ul {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    height: unset;
    flex-direction: row;
    width: max-content;
    gap: 2rem;
    transform: unset;
  }
}

.navbar__logo {
  height: 50px;
}

.navbar__logo-img {
  height: 50px;
}

.navbar__hamburger {
  position: relative;
  z-index: 120;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background: #fff;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background: #fff;
}
@media (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
}
.navbar__active {
  transform: translateX(0);
}
.navbar__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .navbar__nav {
    margin-bottom: 0;
  }
}
.navbar__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navbar__link:hover {
  color: #00e676;
  transform: scale(1.1);
}
@media (min-width: 768px) {
}
/*!Hero*/
.hero {
  padding-top: 10rem;
  margin-top: -15rem;
  min-height: calc(100vh - 10rem);
  background-image: linear-gradient(
      rgba(25, 27, 31, 0.8) 0,
      rgba(25, 27, 31, 0.8)
    ),
    url(img/pexels-lukas-574077.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero {
    min-height: 80rem;
    background-image: linear-gradient(
        rgba(25, 27, 31, 0.8) 0,
        rgba(25, 27, 31, 0.8)
      ),
      url(img/pexels-lukas-574077.jpg);
  }
}
.hero__contenido {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero__contenido {
    flex-direction: row;
  }
}
.hero__imagen {
  max-width: 100%;
}

@media (min-width: 768px) {
  .hero__imagen {
    max-width: 50%;
  }
}
.hero__texto {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-size: 2.6rem;
}
.hero__heading {
  font-weight: 700;
  font-size: 2.6rem;
  color: #00e676;
}

.hero__heading--nombre {
  color: #00e676;
}
@media (min-width: 768px) {
  .hero__texto {
    text-align: left;
  }
  .hero__heading {
    font-size: 3.6rem;
  }
}

/*!Sobre mi*/
.sobre-mi {
  background-color: #141414;
  padding: 5rem 0;
  min-height: 50rem;
}
.sobre-mi__contenido {
  color: #fff;
  text-align: center;
}
.sobre-mi__heading {
  text-align: center;
  font-size: 3.4rem;
  line-height: 2;
  border-top: ridge 2px #00e676;
  margin-bottom: 4rem;
}

.sobre-mi__p {
  font-size: 2rem;
  color: #fafafa;
}
.sobre-mi__span {
  font-weight: 700;
}
.tecnologias__heading {
  font-size: 2.4rem;
  color: #fff;
  margin-block: 4rem;
}
.tecnologias__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tecnologia {
  margin: 0 auto;
  padding: 1rem;
  max-width: 6rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  backdrop-filter: blur(6px);
  transition: transform 0.3s;
}
.tecnologia:hover {
  transform: scale(1.1);
}
.tecnologia__imagen {
  width: 100%;
}
.tecnologia__texto {
  color: #fff;
  font-size: 1.4rem;
}

/*! Proyectos*/
.proyectos__heading {
  color: #fff;
  text-align: center;
  font-size: 3.4rem;
  line-height: 2;
  border-top: ridge 2px #00e676;
  margin-bottom: 4rem;
}
.proyectos__grid {
  display: grid;
  gap: 3rem;
}
.proyecto {
  position: relative;
  background-color: #181818;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
  height: 27rem;
}

.proyecto__imagen {
  overflow: hidden;
}
.imagen {
  object-fit: cover;
  min-height: 27rem;
}
@media (min-width: 768px) {
  .proyecto {
    height: 50rem;
  }
  .imagen {
    min-height: 50rem;
  }
}
.proyecto__descripcion {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #070707fb;
  transform: translateY(100%);
  transition: 0.3s;
}
.proyecto:hover .proyecto__descripcion {
  transform: translateY(0%);
}
.proyecto__titulo {
  text-align: center;
  margin-bottom: 2rem;
}
.proyectos__tecnologias {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.proyecto__botones {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}
@media (min-width: 376px) {
  .proyecto__botones {
    flex-direction: row;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: max-content;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 1rem;
}

.btn__icono {
  margin-left: 1rem;
  font-size: 1.8rem;
}
.btn--sitio {
  color: #000;
  background-color: #0ead69;
  transition: background-color 0.4s;
}
.btn--sitio:hover {
  background-color: #0f965b;
}
.btn--github {
  background-color: #000;
  transition: background-color 0.4s;
}
.btn--github:hover {
  background-color: #121212;
}

/*! Contacto*/
.contacto {
  margin-block: 3rem;
}
.contacto__heading {
  color: #fff;
  text-align: center;
  font-size: 3.4rem;
  line-height: 2;
  border-top: ridge 2px #00e676;
  margin-bottom: 4rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  gap: 1rem;
}
.form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__email {
  width: 90%;
  padding: 1rem;
  background-color: #121212;
  border-radius: 0.5rem;
  border: 1px solid #181818;
  outline: none;
  color: #fafafa;
}
.form__message {
  width: 90%;
  padding: 1rem;
  background-color: #121212;
  border-radius: 0.5rem;
  border: 1px solid #181818;
  outline: none;
  color: #fafafa;
}
.btn--submit {
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
  align-self: center;
}

/* Error / Success */
.form__field.error input {
  border: 1px solid #dc3545;
}

.form__field small {
  color: #dc3545;
  text-align: center;
  padding: 7px 0;
}

.form__field.success input {
  border: 1px solid #28a745;
}

/*! Footer*/
.footer {
  background-color: #070707;
  padding: 2rem 0;
  text-align: center;
}
.footer__texto {
  text-transform: capitalize;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 576px) {
  .footer__texto {
    flex-direction: row;
  }
}
.footer__logo-img {
  height: 30px;
  display: inline-block;
  margin: 0;
}
.footer__link {
  text-decoration: none;
  color: #00e676;
}
